@media(max-width:768px){

.tools-hero{

padding:130px 20px 70px;

}

.tools-hero h1{

font-size:2.4rem;

}

.tools-hero p{

font-size:1rem;

}

.hero-buttons{

flex-direction:column;

align-items:center;

}

.btn-primary,
.btn-secondary{

width:100%;

max-width:320px;

justify-content:center;

}

}

@media(max-width:768px){

.section-title h2{

font-size:2rem;

}

.tool-card{

padding:28px;

}

}

@media(max-width:768px){

.feature-card{

padding:28px;

}

}