@media(max-width:768px){

.tools-hero{

padding:130px 20px 70px;

}

.tools-hero h1{

font-size:2.4rem;

}

.tools-hero p{

font-size:1rem;

}

.hero-buttons{

flex-direction:column;

align-items:center;

}

.btn-primary,
.btn-secondary{

width:100%;

max-width:320px;

justify-content:center;

}

}

@media(max-width:768px){

.section-title h2{

font-size:2rem;

}

.tool-card{

padding:28px;

}

}

@media(max-width:768px){

.feature-card{

padding:28px;

}

}




/* =====================================
        Footer Responsive
===================================== */

@media (max-width:992px){

    .footer-top{

        flex-direction:column;

        gap:50px;

    }

    .footer-logo{

        max-width:100%;

    }

    .footer-links{

        grid-template-columns:repeat(2,1fr);

        gap:35px;

    }

}

@media (max-width:768px){

    .footer{

        padding:50px 0 20px;

    }

    .footer-links{

        grid-template-columns:1fr;

        gap:30px;

    }

    .footer-column h4{

        font-size:18px;

    }

    .footer-column a{

        font-size:15px;

    }

    .footer-bottom{

        flex-direction:column;

        text-align:center;

    }

    .footer-bottom-links{

        justify-content:center;

        flex-wrap:wrap;

        gap:15px;

    }

}
