 <header>

    <nav class="navbar">

        <!-- Logo -->

        <a href="/" class="logo">

            <div class="logo-icon">

                <i class="fa-solid fa-box-open"></i>

            </div>

            <h2>Tool<span>Bucket</span></h2>

        </a>

        <!-- Navigation -->

        <ul class="nav-links">

            <li><a href="/">Home</a></li>

            <li class="tools-dropdown">

    <button class="tools-btn">

        Image Tools

        <i class="fa-solid fa-chevron-down"></i>

    </button>

    <div class="tools-menu">

          <a href="/Image-compressor/">

            <i class="fa-solid fa-file-zipper"></i>

            <div>

                <strong>Image Compressor</strong>

                <span>Reduce image size</span>

            </div>

        </a>

          <a href="/Image-resizer/">

            <i class="fa-solid fa-expand"></i>

            <div>

                <strong>Image Resizer</strong>

                <span>Resize image dimensions</span>

            </div>

        </a>

        <a href="/Image-cropper/">

            <i class="fa-solid fa-crop-simple"></i>

            <div>

                <strong>Image Cropper</strong>

                <span>Crop images online</span>

            </div>

        </a>

        <a href="/Image-converter/">

    <i class="fa-solid fa-repeat"></i>

    <div>

        <strong>Image Converter</strong>

        <span>Convert image formats</span>

    </div>

</a>

    </div>

</li>

            <li><a href="#">PDF Tools</a></li>

            <li><a href="/Explore-tools/">More Tools</a></li>

            <li><a href="#">Blog</a></li>

            <li><a href="#">Contact</a></li>

        </ul>

        <!-- Button -->

        <a href="/Explore-tools/" class="nav-btn">

            <i class="fa-solid fa-layer-group"></i>

            Explore Tools

        </a>

        <!-- Mobile Menu -->

        <div class="menu-toggle">

            <i class="fa-solid fa-bars"></i>

        </div>

        <div class="mobile-menu">

    <a href="/">Home</a>

    <div class="mobile-tools">

        <button class="mobile-tools-btn">
            Image Tools
            <i class="fa-solid fa-chevron-down"></i>
        </button>

        <div class="mobile-tools-menu">

            <a href="/Image-compressor/">
                Image Compressor
            </a>

            <a href="/Image-resizer/">
                Image Resizer
            </a>

            <a href="/Image-cropper/">
                Image Cropper   
            </a>

            <a href="/Image-converter/">
                Image Converter
            </a>

        </div>

    </div>

    <a href="#">PDF Tools</a>

    <a href="/Explore-tools/">More Tools</a>

    <a href="#">Blog</a>

    <a href="#">Contact</a>

    <a href="/Explore-tools/" class="mobile-btn">
    Explore Tools
</a>

</div>

<div class="overlay"></div>

    </nav>

</header>

