@media (max-width:768px){

.blog-hero{
    padding:140px 20px 70px;
}

.blog-hero h1{
    font-size:2.2rem;
}

.blog-stats{
    grid-template-columns:repeat(2,1fr);
}

.blog-search{
    margin:35px auto;
}

}

@media (max-width:480px){

.blog-stats{
    grid-template-columns:1fr;
}

.blog-search input{
    padding:16px 18px;
}

.blog-search button{
    width:60px;
}

.blog-hero h1{
    font-size:1.9rem;
}

}





/* =====================================
        Footer Responsive
===================================== */

@media (max-width:992px){

    .footer-top{

        flex-direction:column;

        gap:50px;

    }

    .footer-logo{

        max-width:100%;

    }

    .footer-links{

        grid-template-columns:repeat(2,1fr);

        gap:35px;

    }

}

@media (max-width:768px){

    .footer{

        padding:50px 0 20px;

    }

    .footer-links{

        grid-template-columns:1fr;

        gap:30px;

    }

    .footer-column h4{

        font-size:18px;

    }

    .footer-column a{

        font-size:15px;

    }

    .footer-bottom{

        flex-direction:column;

        text-align:center;

    }

    .footer-bottom-links{

        justify-content:center;

        flex-wrap:wrap;

        gap:15px;

    }

}



@media (max-width:992px){

    .blog-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:768px){

    .blog-grid{
        grid-template-columns:1fr;
    }

}
