/* ===========================
   Converter Responsive
=========================== */

@media(max-width:1100px){

.converter-wrapper{
    grid-template-columns:1fr;
}

.preview-card,
.controls-card{
    width:100%;
}

}

@media(max-width:768px){

.placeholder{
    height:280px;
}

.preview-card img{
    max-height:280px;
}

.info-box{
    grid-template-columns:1fr;
}

}

@media(max-width:1100px){

.hero-content{
    grid-template-columns:1fr;
}

.hero-text{
    text-align:center;
}

.hero-text p{
    margin:auto;
}

.hero-features{
    justify-content:center;
}

}

@media(max-width:768px){

.hero{
    padding:40px 0 60px;
}

.hero-text h1{
    font-size:42px;
}

.upload-area{
    min-height:320px;
}

}